<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mastermind</title>
    <link rel="stylesheet" href="/css/mastermind.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/mastermind.js"></script>


  </head>
  <body>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">

  <h1> Mastermind </h1>
  <p><a href="http://54.144.118.114/#games">k[n] games</a></p>  

  <div id="controls">
      <p id="howto">Instructions</p>
      <div id="instructions">

        <p>To win: correctly guess the randomly generated sequence of 4 colours to win the game.</p>

        <p>Tap the circles to make a guess. <img src="img/guess.jpg"></p>

        <p> Submit your guess by tapping the guess button. <img src="img/guessbutton.jpg"></p> 

        <p>After you submit a guess, a response key will appear next to your guess row.</p>

        <p>Example response: <img src="img/response.jpg"></p>

        <p>Black = correct colour and correct position </p>
        <p>White = correct colour but wrong position </p>  
        <p>Grey = incorrect</p>

        <p> In the above example, the player has two dots that are in the right place and the right colour, one that is the right colour but wrong place, and one that is the wrong colour entirely.

        <p> If you guess correctly or submit the last guess row, the game will end and the answer key will be revealed below.</p>
        <p><img src="img/solution.jpg"></p> 

        <p> You have 8 guesses.</p>

      </div>
      <button class="start">Start</button>
      <button class="restart">Clear</button>
  </div>



  <div id="game_board">

    <div class="guess_board">

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class='response_row'>
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class='response_row'>
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>
      <p> Last Guess </p>  
      <div class="guess_row">
        <div class="placeholder">
          <button class="submit last_guess">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

    </div>
    <p> Solution </p>
    <div id="board-header">
      <div id="solution">
        <button class="guess solution solution1"></button>
        <button class="guess solution solution2"></button>
        <button class="guess solution solution3"></button>
        <button class="guess solution solution4"></button>
      </div>
    </div>

  </div>


</div>
<div class="col-sm-4"></div>
</div>
</div>




  </body>
</html>
