<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mastermind</title>
    <link rel="stylesheet" href="/css/mastermind.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/mastermind.js"></script>


  </head>
  <body>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2 text-center">

  <h1> Mastermind </h1>
  <div id="controls">
      <p id="howto">(How to Play)</p>
      <div id="instructions">
        <p>Click on the buttons to make your guess, then submit.</p> 
        <p>For any guess that is the correct color and in the correct location, you will see one black dot in the response key. For any that are the correct color but not in the correct location, you will see a white dot in the solution key. </p>
        <p> You have 8 guesses.</p>
      </div>
      <button class="start">Start</button>
      <button class="restart">Restart</button>
  </div>



  <div id="game_board">

    <div class="guess_board">

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class='response_row'>
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class='response_row'>
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

      <div class="guess_row">
        <div class="placeholder">
          <button class="submit last_guess">Guess</button></div>
        <button class="guess guess1"></button>
        <button class="guess guess2"></button>
        <button class="guess guess3"></button>
        <button class="guess guess4"></button>
        <div class="response_row">
          <button class="response response1"></button>
          <button class="response response2"></button>
          <button class="response response3"></button>
          <button class="response response4"></button>
        </div>
      </div>

    </div>

    <div id="board-header">
      <div id="solution">
        <button class="guess solution solution1"></button>
        <button class="guess solution solution2"></button>
        <button class="guess solution solution3"></button>
        <button class="guess solution solution4"></button>
      </div>
    </div>

  </div>


</div>
<div class="col-sm-5"></div>
</div>
</div>




  </body>
</html>
